body{
  width: 80%;
  border: 20%;
  margin: auto;
}


#subhead{
  font-size: smaller;
  color: grey;
}

#Wo{
  font-weight: bold;
  font-size: large;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cf2c23;
  border-right: white;
  /* margin-top: 0; */
}
  
.nav li {
  float: left;
  
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  border-bottom: 5px solid white;
}

h1{
  color: white;
  background-color: #cf2c23;
  font-family: 'Times New Roman', Times, serif;
}

#Tax{
  color: black;
  background-color: white;
  font-weight: bold;
  margin-bottom: 0;
}

.SubNav{
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.SubNav li{
  float: left;
}

.SubNav a {
  display: block;
  color: black;
  padding: 8px 10px;
  text-decoration: none;
}

.SubNav li a:hover {
  border-bottom: 5px solid red;
}

.New{
  background-color: black;
}

.debug{
  margin-bottom: 0;
}

h5{
  margin-top: 0;
}

img{
  width: 80%;
}

#more{
  float: right;
}

