body{
    width: 50%;
    font-size: 20px;
    border: 50%;
    margin: auto;
}

#list{
    float: left;
    overflow: hidden;
    display: block;
    text-align: center;
    text-decoration: none;


}