body {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fwhite-background&psig=AOvVaw1jg9rHWJbdbRshqvc3JNAc&ust=1674243496623000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCKDi_Zix1PwCFQAAAAAdAAAAABAk");
     background-color: #56a2ed;
     text-decoration: solid;
    }